<h1><%= link_to post.name, post_path(post) %></h1>

<%= link_to "delete", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
<%= link_to "Edit", edit_post_path(post) %>