<div class="row background">
  <div class="post-index col-md-10">
    <% if @posts.empty? %>
      <h3>Sorry no results</h3>
    <% else %>
      <h1 class="center">Find Your Next Adventure</h1>
      <%= render @posts %>
    <% end %>
  </div>
</div>
