<footer class="footer">
  <h2 class="heading">Contact</h2>
  <span><i class="fa fa-envelope" aria-hidden="true"></i>x15028291@student.ncirl.ie</span>
  <br>
  <small>
    Wild is a college project by Aisling McAuley, student at National College of Ireland.
  </small>
</footer>
