    <header class="navbar navbar-fixed-top">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Log in", '#' %></li>
            <li><%= link_to "Search", "#" %></li>
          </ul>
        </nav>
    </header>